{% for targeted_dep in crate.targeted_deps %} + selects.with_or({
        (
{%- for platform_target in targeted_dep.platform_targets %}
          "@rules_rust//rust/platform:{{platform_target}}",
{%- endfor %}
        ): [
{%- for dependency in targeted_dep.deps.proc_macro_dependencies %}
            "{{ dependency.buildable_target }}",
{%- endfor %}
        ],
        "//conditions:default": [],
    })
{%- endfor -%}
