{% for targeted_dep in crate.targeted_deps %}
{%- if targeted_dep.deps.dev_dependencies | length != 0 %} + selects.with_or({
        (
{%- for platform_target in targeted_dep.platform_targets %}
          "@rules_rust//rust/platform:{{platform_target}}",
{%- endfor %}
        ): [
{%- for dependency in targeted_dep.deps.dev_dependencies %}
            "{{ dependency.buildable_target }}",
{%- endfor %}
        ],
        "//conditions:default": [],
    })
{%- endif %}
{%- endfor -%}
